<div class="row custom-home">
    <ul class="list-unstyled">
        <li><h1 class="display-1">Philippe</h1></li>
        <li><h1 class="display-3">dos santos</h1></li>
        <li><p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis obcaecati culpa debitis odio consectetur, consequatur error ullam modi voluptas saepe delectus deleniti facere ut labore excepturi cupiditate esse laborum illo. </p></li>
    </ul>
</div>


